<% include ../partials/header %>

	<h1>This is the query page</h1>
	<p>
		<form action="/query" method="GET" class="form-inline">
			<div class="form-group">
				<input type="text" name="search" placeholder="search..." class="form-control">
				<input type="submit" value="Search" class="btn btn-default">
			</div>
		</form>
	</p>
	
	<div class="row text-center" style="display:flex; flex-wrap: wrap;">
			<div class="col-md-12">
				<% if(noMatch !== null) { %>
					<h3><%= noMatch %></h3>
				<% } %>
			</div>
			<% medical.forEach(function(medical){ %>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
					   <div class="caption card-body">
							<h6 class="card-title"><%= medical.organisation %></h6>
							<!-- <p class="card-text"><%= medical.author.firstname %></p>
							<p class="card-text"><%= medical.author.lastname %></p> -->
					   </div>
					   <p>
						   <a href="/query/<%= medical._id %>" class="btn btn-outline-primary">More Info</a>
					   </p>
					</div>
				</div>
			<% }); %>
		</div>

<% include ../partials/footer %>