<% include ../partials/header %>

	<h1>Details Page</h1>
	<div>
		<h3><span class="def">Definition: </span><%= details.definition %></h3>
		<p>Keyword: <%= details.keyword %></p>
		<p>Source: <%= details.source %></p>
		<p>Organisation: <%= details.organisation %></p>
		<p>Author: <%= details.author %></p>
		<p>Journal: <%= details.journal %></p>
		<p>Comment: <%= details.comment %></p>
		<p>Patient Code: <%= details.patient_code %></p>
		<p>Patient Sex: <%= details.patient_sex %></p>
		<p>Patient Age: <%= details.patient_age %></p>
		<p>CD4 Count: <%= details.cd4_count %></p>
		<p>Sample City: <%= details.sample_city %></p>
		<p>Sample Tissue: <%= details.sample_tissue %></p>
		<p>Risk Factor: <%= details.risk_factor %></p>
		<p>Patient Health Status: <%= details.patient_health_status %></p>
		<p>Amplification Strategy: <%= details.amplification_strategy %></p>
		<p>Drug Naive: <%= details.drug_naive %></p>
		<p>Patient Comment: <%= details.patient_comment %></p>
		<p>Institute Name: <%= details.institute_name %></p>
		<p>Institute Area: <%= details.institute_area %></p>
		<p>Institute City: <%= details.institute_city %></p>
	</div>
	<br>
	<hr>

<% include ../partials/footer %>