<% include ../partials/header %>

	<h1>Details Page</h1>
	<div>
		<h3><%= details.description %></h3>
		<p><%= details.author.keyword %></p>
		<p><%= details.author.source %></p>
		<p><%= details.author.organisation %></p>
		<p><%= details.author.author %></p>
		<p><%= details.author.journal %></p>
		<p><%= details.author.comment %></p>
		<p><%= details.author.patient_code %></p>
		<p><%= details.author.patient_sex %></p>
		<p><%= details.author.patient_age %></p>
		<p><%= details.author.cd4_count %></p>
		<p><%= details.author.sample_city %></p>
		<p><%= details.author.sample_tissue %></p>
		<p><%= details.author.risk_factor %></p>
		<p><%= details.author.patient_health_status %></p>
		<p><%= details.author.amplification_strategy %></p>
		<p><%= details.author.drug_naive %></p>
		<p><%= details.author.patient_comment %></p>
		<p><%= details.author.institute_name %></p>
		<p><%= details.author.institute_area %></p>
		<p><%= details.author.institute_city %></p>
	</div>
	<br>
	<hr>

<% include ../partials/footer %>